<footer>
  <div class="contact">
    <div class="content_info">
      <img src="../../../../assets/images/logotipo.png" alt="">
      <p>Eco Dental is your go-to destination for premium natural oral care products. We are dedicated to providing you
        with a holistic approach to dental hygiene, harnessing the power of nature to promote a healthy smile.
      </p>
      <div class="redes">
        <img src="../../../../assets/images/FacebookIcon.png" alt="">
        <img src="../../../../assets/images/LinkedinIcon.png" alt="">
        <img src="../../../../assets/images/Instagram.png" alt="">
        <img src="../../../../assets/images/TwitterIcon.png" alt="">
        <img src="../../../../assets/images/Youtube.png" alt="">
      </div>
    </div>
    <div class="content_link">
      <p class="title">Quick Links</p>
      <p>Our Story</p>
      <p>Contact Us</p>
      <p>Shipping & Delivery</p>
    </div>
    <div class="content_send">
      <p class="title">Receive offers & discounts via e-mail</p>
      <div class="search">
        <i class="pi pi-envelope"></i>
        <input type="text" placeholder="Enter Email">
        <button type="button">Subscribe</button>
      </div>
    </div>
  </div>
  <div class="footer_link">
    <div class="der_reserv">
      <p>© 2024, Eco Dental - All rights reserved.</p>
    </div>
    <div class="link">
      <ul>
        <li>
          <a href="">Terms & Conditions</a>
        </li>
        <li>
          <a href="">Privacy Policy</a>
        </li>
        <li>
          <a href="">Refund Policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
