<div class="content_card">
  <div class="card_1">
    <div class="card card1">
      <div class="card_content">
        <img src="../../../assets/images/No-artificial-colors.png" alt="">
        <p>No Artificial Colours</p>
      </div>
    </div>
    <div class="card card2">
      <div class="card_content">
        <img src="../../../assets/images/Icon-swap.png" alt="">
        <p>No Artificial Colours</p>
      </div>
    </div>
  </div>
  <div class="card_2">
    <div class="card card3">
      <div class="card_content">
        <img src="../../../assets/images/no-syntethic-colors.png" alt="">
        <p>No Artificial Colours</p>
      </div>
    </div>
    <div class="card card4">
      <div class="card_content">
        <img src="../../../assets/images/No-artificial-colors.png" alt="">
        <p>No Artificial Colours</p>
      </div>
    </div>
  </div>
</div>
