@import '../../../styles.scss';

.caption_header {
  height: 80px;
  align-items: center;
  span {
    height: 48px;
    width: 202px;
    i {
      font-size: 20px;
    }
    input {
      width: 100%;
      height: 100%;
      text-indent: 30px;
    }
  }
}

.caption_header {
  height: 80px;
  align-items: center;
  th {
    text-align: center;
  }
}
