<div class="card" *ngIf="item$ |async as data">
  <p-table #dt1 [value]="data" dataKey="id">
    <ng-template pTemplate="caption">
      <div class="flex caption_header">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="Global Search" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr class="caption_header">
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Code</th>
        <th>Name</th>
        <th>Imagen</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Accions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr class="caption_header">
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{ product.id }}</td>
        <td>{{ product.Name }}</td>
        <td><img [src]="product.ImgUrl" alt=""></td>
        <td>{{ product.price }}</td>
        <td>{{ product.Discount }}</td>
        <td>{{ product.quantity }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

