<div class="banner">
  <div class="banner_product1">
    <div class="content_banner">
      <p class="title">Mouth Wash</p>
      <p class="paragraph">your go-to choice for a naturally clean and eco-friendly smile</p>
      <button class="btn btn1">
        <p>Buy Now</p>
      </button>
    </div>
    <img src="../../../assets/images/splash.png" alt="">
  </div>
  <div class="banner_product2">
    <div class="content_banner">
      <p class="title">Tooth Brush</p>
      <p class="paragraph">your go-to choice for a naturally clean and eco-friendly smile</p>
      <button class="btn btn2">
        <p>Buy Now</p>
      </button>
    </div>
    <img src="../../../assets/images/cepilloV2.png" alt="">
  </div>
</div>
